#root {
  margin: 0;
  /* background-image: url("../src/assets/pexels-pixabay-372810.jpg");
  background-color: rgba(0, 0, 0, 0.7); */
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
}

body {
  margin: 0;
  display: block;
  place-items: center;
  min-height: 100vh;
}

